.page-header {
  padding: 1.5rem;
  background-color: #e98af2;
  color: white;
}

.form-container {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

form {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #f8fafc;
  padding: 1.5rem;
  border-radius: 8px;
}

label {
  display: flex;
  flex-direction: column;
  font-weight: 600;
}

input {
  padding: 0.5rem;
  margin-top: 0.3rem;
}

button {
  margin-top: 1rem;
  padding: 0.7rem;
  background-color: #eb25e1;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
