<header class="page-header">
  <h1>Student Management</h1>
  <button class="add-btn" (click)="goToCreateStudent()">+ Add Student</button>
</header>

<main class="students-container">
  <!-- Show student cards -->
   @for (student of students(); track student.id; let index = $index) {
     <article class="student-card">
       <div class="student-info">
         <h2>{{ student.first_name }} {{ student.last_name }}</h2>
         <p><strong>Course:</strong> {{ student.course }}</p>
         <p><strong>Year Level:</strong> {{ student.year_level }}</p>
       </div>
   
       <button class="delete-btn" (click)="deleteStudent(index)">Delete</button>
     </article>
   }

  <!-- Empty state -->
   @if (students().length === 0) {
     <p class="empty-msg">
       No students available. Add one!
     </p>
   }
</main>